* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'varela';
    src: url('../assets/fonts/Varela_Round/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: 'satify';
    src: url('../assets/fonts/Satisfy/Satisfy-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'varela';
    display: flex;
    flex-direction: column;
    background-color: #447E81;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #447E81;
}

/*Menú de navegación*/
.menu_icon img {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
    display: block;
}

#menu {
    display: none;
}

#menu:checked+label+nav {
    display: block;
}

/*Barra de navegación*/
nav {
    display: none;
    align-items: center;
    width: 50%;
    height: 20%;
    border-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 3;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    background-color: #BDC2C2;
    border-radius: 5px;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}


nav ul li a {
    text-decoration: none;
    color: #447E81;
    font-size: 1rem;
    font-weight: 600;
    transition: all .2s ease-in-out;
    margin: 2px;
}

nav ul li:hover {
    border: #447E81 1px solid;
    border-radius: 5px;
}

#active {
    transform: scale(1.1);
    background-color: #BDC2C2;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px #000;
}

#active a {
    color: #015559;
    margin: 6px;
}


/*************************************************************************************
**********************Formulario****************************************/

main {
    background-color: #447E81;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titulo {
    margin: 7%;
    color: #A2AFAF;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 0.5px #000;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    background: #BDC2C2;
    box-shadow: 0 0 10px 2px #0000006c;
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #015559;
}

.name,
.lastname,
.email,
.phone_numb,
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding: 5px;
}

.name input,
.lastname input,
.email input,
.phone_numb input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #015559;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #015559;
}

.service select {
    width: 50%;
    height: 10%;
    border-radius: 5px;
    border: 1px solid #015559;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #015559;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding: 5px;
}

.message textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #015559;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #015559;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 5px;
}

.button input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #015559;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin: 10px;
    padding: 5px;
    background: #447E81;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.terms,
.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 3px;
    padding: 3px;
}

.terms input,
.privacy input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.terms label,
.privacy label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #015559;
}

/*************************Footer******************************/
footer {
    background-color: #447E81;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contacto_redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

.contacto,
.redes_sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #BDC2C2;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
}

.contacto h3,
.redes_sociales h3 {
    font-size: 1.5rem;
    color: #015559;
    text-align: center;
    text-shadow: 1px 1px 0.5px #000;
}

.contacto p {
    font-size: 1rem;
    color: #015559;
    text-align: justify;
    margin: 15px;
    font-weight: 600;
}

.contacto a {
    text-decoration: none;
    color: #015559;
    font-size: 1rem;
    font-weight: 600;
    transition: all .2s ease-in-out;
    margin: 2px;
}

.contacto a:hover {
    transform: scale(1.1);
    color: #015559;
}

.redes_sociales a {
    text-decoration: none;
}

.content_img_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}

.content_img_footer img {
    width: 70px;
    height: 70px;
    color: #A2AFAF;
    padding: 10px;
    border-radius: 30%;
    box-shadow: 1px 1px 5px #000;
    object-fit: cover;
}

.redes_sociales img:hover {
    transform: scale(0.9);
    border-radius: 30%;
    box-shadow: 0px 1px 1px 1px #000;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A2AFAF;
    font-size: .7rem;
    font-weight: 600;
    padding: 10px;
}

@media screen and (min-width: 768px) {

    /*Menú de navegación*/
    .menu_icon img {
        display: none;
    }

    #menu:checked+label+nav {
        display: none;
    }

    /*Barra de navegación*/
    nav {
        display: block;
        align-items: center;
        width: 100%;
        border-radius: 0;
        position: fixed;
        top: 0;
        z-index: 3;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        height: 30%;
        border-radius: 0;
    }

    #active {
        transform: scale(1.1);
        background-color: #447E81;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 0px #000;
    }

    #active a {
        color: #A2AFAF;
    }

    /*Main-Form*/
    form {
        width: 60%;
    }

    .name input,
    .lastname input,
    .email input,
    .phone_numb input {
        width: 50%;
    }

    .service select {
        width: auto;
    }

    /*footer*/
    .contacto_redes {
        flex-direction: row;
        gap: 3rem;
        margin: 0 auto;
    }

    .content_img_footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}