/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif, 'Arial', 'Helvetica', 'sans-serif';
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1,h2,h3,h5{
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 1px  #0000006c;
    text-align: center;
    margin: 10px;
}
p{
    margin: 5px;
    color: #ffffff;
    font-size: 2.0rem;
    text-align: center;
}
a{
    text-decoration: none;
}
/******************************************************************************
***********************Cabecera************************************************/
header{
    flex: 1fr;
    min-height: 100vh;
    background: url('../assets/Fondo-floral-de-color-verde-y-rojo/home.webp') no-repeat center center/cover;
}
.grid_header{
    min-height: 100vh;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:30% 1fr;
}
/*Presentación*/

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile{
    max-width: 15rem;
    max-height: 20rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
}

/*Barra de navegación*/
.nav ul{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav ul li{
    padding: 5px;
    margin: 10px;
    list-style: none;
}
.nav ul li a{
    text-align: justify;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.nav ul li a:hover{
    text-decoration:overline;
}
.nav ul li a:active{
    text-decoration:overline;
}
/*************************************************************************************
**********************Contenido******************************************************/
/*Estilos en el contenido*/

/*Sobre mi*/

/*Portfolio*/

/*Solicitud de contacto*/

/*Contacto*/

/*************************Footer******************************/
