<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniela Reyes Arias">
    <meta name="description"
        content="Currículum Vitae Daniela Reyes Arias, estudiante de MasterD, con conocimientos en HTML, CSS, JavaScript, C++ entre otros.">
    <meta name="keywords" content="HTML, CSS, JavaScript, C++, MasterD, Daniela Reyes Arias,Currículum Vitae">
    <meta name="robots" content="index, follow">
    <title>Currículum Vitae Daniela Reyes Arias</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/style3.css">
</head>

<body>
    <header>
        <div class="grid_header">
            <!-- Navigation -->
            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="../index.html">Sobre mí</a></li>
                        <li><a href="enlace1.html">Galería</a></li>
                        <li><a href="enlace2.html">Presupuesto</a></li>
                        <li><a href="enlace3.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    <!-- Main -->
    <main>
        <h1 class="titulo">Contacto</h1>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4641.037396497539!2d-3.6892811328561286!3d40.449639182498245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1741643936977!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="tarjeta">
            <div class="subtitulo">
                <h2>¿Tienes alguna duda?</h2>
                <p>¡Escríbeme!</p>
            </div>
            <div class="contacto">
                <p>Daniela Reyes Arias</p>
                <p>Correo:</p><a href="mailto:danielareyesdeveloper@gmailcom"></a>
                <p>telefono:</p><a href="tel:+34666777888"></a>
                <p>dirección: Tetuan, Madrid</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="contacto_redes">
            <!--CONTACTO-->
            <div class="contacto">
                <h3 class="titulo">Contacto:</h3>
                <div class="content_footer">
                    <p>Correo:</p><a href="mailto:danielareyesdeveloper@gmail.com">danielareyesdeveloper@gmail.com</a>
                </div>
                <div class="content_footer">
                    <p>Teléfono:</p><a href="tel:+34666777888">+34 666 777 888</a>
                </div>
            </div>

            <!--REDES SOCIALES-->
            <div class="redes_sociales">
                <h3 class="titulo">Enlaces de Interes:</h3>
                <div class="content_img_footer">
                    <a href="https://es.linkedin.com/in/daniela-reyes-arias-0ab6b331a" title="LinkedIn" target="_blank"
                        class="size_img">
                        <img src="../assets/svg/linkedin-svgrepo-com.svg" alt="Logo de LinkedIn" title="LinkedIn"
                            width="30" height="30">
                    </a>
                    <a href="https://github.com/devDanRA" target="_blank" title="GitHub" class="size_img">
                        <img src="../assets/svg/github-full-svgrepo-com.svg" alt="Logo de GitHub" title="GitHub"
                            width="30" height="30">
                    </a>
                </div>
            </div>
        </div>
        <!--COPY-->
        <div class="copy">
            <p>&copy; 2025 Daniela Reyes Arias. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>